header{
    background-color: white;
    color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-color: white;
}
nav ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10rem;
    align-items: center;
}
.profile-picture{
    width: 200px;
    height: auto;
}
.logo-gif{
  width: 200px;
  height: auto;
}

.lec{
  position: relative;
  color: #5CA7FF;
  text-decoration: none;
  transition: color 0.4s ease;
}
.lec:hover{
    color: #fc86db;
    text-decoration: none;
}
.lec::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2.1px;
    background-color: #5CA7FF;
    transition: width 0.3s ease, background-color 0.4s ease;
}
.lec:hover::after {
  width: 100%;
  background-color: #fc86db;
}



.contact{
    text-decoration:none;
    background: linear-gradient(to bottom, #fc86db, #5CA7FF);   
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;          
    transition: transform 0.4s ease, background 1s ease;
    display: inline-block;
}
.contact:hover{
    background-color: blueviolet;
    transform: scale(1.05);
}

.hero {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #5CA7FF;
  padding: 100px, 5%;
}

.hero-text {
  max-width: 50%;
  margin: auto;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
}

.hero-text h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.hero-text h3 span {
  color: #fc86db;
}

.hero-text p {
  margin: 20px 0;
  line-height: 1.6;
  color: #000000;
}

.matricadiv{
  flex-shrink: 0;
}

.matrica{
  width: 600px;
  height: auto;
  margin-left: -50px;
}

.skills{
  font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    text-align: center;
    color: white;
}
.skills h2{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

.skills-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem
}
.skill-card {
  background: linear-gradient(to bottom, #fc86db, #5CA7FF);   
  padding: 1.5rem;
  border-radius: 12px;
  width: 130px;
  height: 130px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* függőlegesen középre */
  align-items: center;      /* vízszintesen középre */
  text-align: center;
  
}

.skill-card:hover {
  transform: translateY(-8px) scale(1.03); /* hover animáció */
}

.skill-card h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}


.cp{
  width: 65px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 0px auto;
  margin-top: 20px;
}

.blender{
  width: 150px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 0px auto;
}

.ps{
  width: 40px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto; 
}

